@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,600,700");
body,
html {
  font-family: 'Nunito', sans-serif !important;
  padding: 0;
  margin: 0; }

@media (max-width: 468px) {
  .login-btn,
  .signup-btn {
    margin-bottom: 8px; } }

.dashnav {
  background: #fdeee7 !important; }
  .dashnav .dash {
    display: flex;
    align-items: center !important; }
    .dashnav .dash li {
      padding: 10px; }

span {
  font-family: 'Nunito', sans-serif !important; }

.header-jumb {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 0 !important;
  background-image: url(../../assets/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }
  .header-jumb h2 {
    color: white;
    font-size: 74px;
    font-weight: 700; }
    .header-jumb h2 span {
      color: #efb331; }
    @media (max-width: 468px) {
      .header-jumb h2 {
        font-size: 40px; } }
  .header-jumb h4 {
    color: whitesmoke;
    font-size: 32px;
    font-weight: lighter !important; }
    @media (max-width: 468px) {
      .header-jumb h4 {
        font-size: 26px; } }
  .header-jumb h6 {
    color: white;
    font-size: 28px;
    font-weight: lighter !important; }
    @media (max-width: 468px) {
      .header-jumb h6 {
        font-size: 20px; } }

.form-container {
  display: flex;
  justify-content: center;
  flex: 1; }
  .form-container .landing-form {
    width: 600px;
    padding: 20px 0 20px 20px; }
    .form-container .landing-form input {
      outline: none;
      padding: 15px;
      border: none;
      border-radius: 4px;
      font-size: 19px;
      font-weight: 500; }
      .form-container .landing-form input:focus {
        outline: none !important;
        box-shadow: none; }
    .form-container .landing-form .search-btn {
      padding: 15px 35px;
      border-radius: 4px;
      background: #efb331;
      color: whitesmoke;
      font-size: 18px;
      border: none;
      outline: none; }
      .form-container .landing-form .search-btn:hover {
        filter: hue-rotate(1turn); }

.restaurants {
  margin-top: -25px;
  padding: 40px 0 40px 0; }
  .restaurants .title {
    color: #253858;
    font-size: 36px; }
  .restaurants .cards .card {
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18); }
    .restaurants .cards .card:hover {
      box-shadow: 0 4px 6px 0 rgba(80, 184, 60, 0.3); }
    .restaurants .cards .card .card-img-top {
      padding: 20px;
      border-radius: 2px 2px 0 0;
      background-blend-mode: multiply; }
    .restaurants .cards .card .card-body .badge {
      color: #50b83c; }
    .restaurants .cards .card .card-body .card-title a {
      font-family: 'Nunito', sans-serif;
      color: #253858;
      font-size: 24px;
      font-weight: 500;
      text-decoration: none; }
    .restaurants .cards .card .card-body .card-text {
      margin-top: -15px;
      color: #7f8a96; }
    .restaurants .cards .card .card-body button {
      border-radius: 100px; }
      .restaurants .cards .card .card-body button:hover {
        box-shadow: 0 4px 6px 0 rgba(80, 184, 60, 0.3); }
      .restaurants .cards .card .card-body button:nth-of-type(1) {
        background: #fdeee7;
        border: none;
        color: #efb331; }
      .restaurants .cards .card .card-body button:nth-of-type(2) {
        background: #e9f9f0;
        border: none;
        color: #50b83c; }

.categories {
  margin-top: -25px;
  padding: 40px 0 40px 0; }
  .categories .title {
    font-size: 36px;
    color: #253858; }
  .categories .card {
    justify-items: center;
    border-radius: 16px;
    border: 1px solid #e9f9f0;
    transition: border 0.5s ease-in;
    -webkit-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in; }
    .categories .card:hover {
      box-shadow: 0 4px 6px 0 rgba(80, 184, 60, 0.3);
      border: 1px solid rgba(80, 184, 60, 0.7);
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in; }
    .categories .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .categories .card .card-body img {
        width: 60px; }
      .categories .card .card-body h4 {
        padding-top: 20px; }
        .categories .card .card-body h4 a {
          text-decoration: none;
          color: #253858; }

.options {
  padding: 40px 0 40px 0; }
  .options .tag {
    background-color: #e9f9f0;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    text-align: center; }
    .options .tag:hover {
      box-shadow: 0 4px 6px 0 rgba(80, 184, 60, 0.3); }
    .options .tag span a {
      font-size: 18px;
      color: #50b83c;
      text-decoration: none; }

.steps {
  margin-top: -30px;
  background-color: #e9f9f0;
  padding: 40px 0 40px 0; }
  .steps .card {
    border: none;
    border-radius: 4px; }
    @media (max-width: 468px) {
      .steps .card {
        margin-bottom: 30px; } }
    .steps .card .card-body .img-cont {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 100px;
      width: 80px;
      height: 80px;
      margin-top: -50px;
      background: #fdeee7;
      box-shadow: 0 4px 6px 0 rgba(80, 184, 60, 0.3); }
      .steps .card .card-body .img-cont img {
        width: 40px; }
    .steps .card .card-body .title {
      font-size: 21px;
      color: #253858; }

.partners {
  padding: 40px 0 40px 0;
  background-color: #fdeee7; }
  .partners a {
    color: #253858;
    text-decoration: underline; }

.errorbox {
  background-color: #fead9a;
  color: #de3618;
  transition: transform 0.3s ease-out;
  transform-origin: top;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -moz-transform: scaleY(1); }

.auth-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../assets/cooking-dinner-food-76093.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  padding-top: 8%; }
  .auth-wrapper .form-box .illustration-box {
    background-color: #efb331;
    padding: 15px;
    margin: 0 auto;
    border-radius: 6px 0 0 6px;
    height: 400px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18); }
  .auth-wrapper .form-box .form-cont {
    background-color: white;
    border-radius: 6px;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18); }
    .auth-wrapper .form-box .form-cont span {
      padding: 5px;
      cursor: pointer; }
      .auth-wrapper .form-box .form-cont span:hover {
        color: rgba(239, 179, 49, 0.8); }
    .auth-wrapper .form-box .form-cont .submit-btn {
      background-color: rgba(239, 179, 49, 0.8);
      color: whitesmoke;
      outline: none !important; }
      .auth-wrapper .form-box .form-cont .submit-btn:hover {
        background-color: #efb331;
        outline: none !important;
        box-shadow: none; }
    .auth-wrapper .form-box .form-cont .form-signin {
      width: 100%;
      max-width: 400px;
      padding: 15px;
      margin: 0 auto;
      color: #253858; }
    .auth-wrapper .form-box .form-cont .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      border: none;
      background: #f5f8f9;
      outline: none;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in; }
    .auth-wrapper .form-box .form-cont .form-signin .form-control:focus {
      border: 1px solid #fdeee7;
      outline: none !important;
      box-shadow: none;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in; }

section {
  padding: 60px 0; }

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase; }

.welcome-wrapper {
  height: 100vh; }
  .welcome-wrapper .welcome-info {
    padding-top: 25%;
    margin: 0 auto;
    text-align: center;
    color: #253858; }
    .welcome-wrapper .welcome-info img {
      opacity: 0.8;
      width: 350px; }
    .welcome-wrapper .welcome-info h3 {
      font-weight: bolder;
      letter-spacing: 1.5px;
      font-size: 28px;
      color: #efb331; }
      @media (max-width: 468px) {
        .welcome-wrapper .welcome-info h3 {
          font-size: 24px; } }
    .welcome-wrapper .welcome-info h5 {
      font-weight: bold;
      letter-spacing: 1.2px; }
    .welcome-wrapper .welcome-info .btn {
      color: whitesmoke; }

#footer {
  background-color: #343a40 !important;
  border-top: 5px solid #efb331;
  background-image: url("../../assets/barbecue-barbeque-bbq-1268551.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply; }

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid rgba(239, 179, 49, 0.8);
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: whitesmoke; }
  @media (max-width: 468px) {
    #footer h5 {
      font-size: 24px;
      color: rgba(239, 179, 49, 0.8); } }

#footer a {
  color: #efb331;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#footer ul.social li {
  padding: 3px 0; }

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease; }

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.social li a,
#footer ul.quick-links li a {
  color: whitesmoke; }

#footer ul.social li a:hover {
  color: #eeeeee; }

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease; }

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

#footer ul.quick-links li a i {
  margin-right: 5px; }

#footer ul.quick-links li:hover a i {
  font-weight: 700; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px; } }
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/****************DAHSBOARD STYLES***************/
.dashboard .edit-profile {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  padding: 20px;
  border-radius: 4px;
  margin-top: 60px; }
.dashboard .dash-header {
  height: 350px;
  background-color: ghostwhite; }
  @media (max-width: 468px) {
    .dashboard .dash-header {
      height: auto;
      padding-bottom: 30px; } }
  .dashboard .dash-header .img-box {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
    padding-top: 30px; }
  .dashboard .dash-header .header-text {
    padding-top: 30px;
    color: #50b83c;
    font-size: 24px; }
    .dashboard .dash-header .header-text span {
      color: #efb331;
      font-size: 32px; }
  .dashboard .dash-header .profile-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 50px; }
    .dashboard .dash-header .profile-actions .btn-settings {
      background-color: #fead9a;
      color: #de3618;
      border: none;
      outline: none;
      box-shadow: none; }
    .dashboard .dash-header .profile-actions .btn-home {
      background-color: #efb331;
      color: #fdeee7;
      border: none;
      outline: none;
      box-shadow: none; }
.dashboard .dashcontent {
  padding: 40px 0 40px 0; }
  .dashboard .dashcontent .no-profile .welcome-text {
    font-size: 22px; }
    .dashboard .dashcontent .no-profile .welcome-text span {
      font-weight: bold; }
  .dashboard .dashcontent .no-profile .noprofile-info {
    font-size: 18px;
    color: #253858; }
  .dashboard .dashcontent .no-profile .btn {
    color: #fdeee7; }
  .dashboard .dashcontent .no-profile .btn-info {
    background-color: #50b83c !important;
    border: none;
    outline: none;
    box-shadow: none; }
    .dashboard .dashcontent .no-profile .btn-info:hover {
      border: none;
      outline: none !important;
      box-shadow: none; }

.form-box {
  padding: 10px;
  margin-top: 20px; }
  .form-box .form-header {
    color: #253858 !important; }
  .form-box .profile-form .submit-btn {
    background-color: rgba(239, 179, 49, 0.8);
    color: whitesmoke;
    outline: none !important; }
    .form-box .profile-form .submit-btn:hover {
      background-color: #efb331;
      outline: none !important;
      box-shadow: none; }
  .form-box .profile-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #f5f8f9;
    outline: none !important;
    transition: border 0.5s ease-in;
    -webkit-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in; }
  .form-box .profile-form .form-control:focus {
    border: 1px solid #fdeee7;
    outline: none !important;
    box-shadow: none !important;
    transition: border 0.5s ease-in;
    -webkit-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in; }

/****************DAHSBOARD STYLES***************/
.address-book .address-card {
  border: 1px solid rgba(80, 184, 60, 0.4);
  padding: 20px;
  border-radius: 4px; }
  .address-book .address-card h4 {
    font-size: 18px; }
  @media (max-width: 468px) {
    .address-book .address-card {
      margin-bottom: 20px; } }

/****************ADDRESS STYLES***************/
.tabs {
  background-color: white;
  border: 1px solid rgba(80, 184, 60, 0.2);
  margin-bottom: 10px;
  border-radius: 4px; }

.tab-list {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  overflow-x: scroll; }

.tab-list-item {
  display: flex;
  padding: 10px 24px;
  cursor: pointer;
  color: #253858;
  font-weight: 700;
  font-size: 16px; }
  .tab-list-item:hover {
    border-bottom: 2px solid #efb331;
    -webkit-transition: border-bottom 0.3s ease-in;
    -moz-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in; }

.tab-list-active {
  border-bottom: 2px solid #efb331; }

.empty-tab-content-box {
  border: 1px solid rgba(80, 184, 60, 0.3);
  border-radius: 4px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .empty-tab-content-box .img-box {
    margin-bottom: 10px; }
    .empty-tab-content-box .img-box img {
      opacity: 0.7; }
      .empty-tab-content-box .img-box img:hover {
        filter: hue-rotate(1turn); }
  .empty-tab-content-box h4 {
    font-weight: 700 !important;
    color: #50b83c; }
  .empty-tab-content-box h5 {
    font-size: 18px; }
    .empty-tab-content-box h5 b {
      color: #efb331; }

.tab-content-box {
  border: 1px solid rgba(80, 184, 60, 0.5);
  border-radius: 4px;
  padding: 40px; }

.restaurant-header {
  height: 350px;
  background-color: black; }
  @media (max-width: 468px) {
    .restaurant-header {
      height: auto; }
      .restaurant-header .info-box {
        margin-top: 20px; } }
  .restaurant-header .large-header {
    padding: 60px 0px 60px 0px; }
    .restaurant-header .large-header .img-box img {
      width: 350px; }
    .restaurant-header .large-header .info-box .rest-disp {
      padding: 10px;
      border: 1px solid #efb331; }

.restinfo .phone-box .title {
  color: #253858;
  font-size: 18px; }
.restinfo .phone-box .number {
  color: #50b83c;
  font-size: 20px; }
.restinfo .time-box .title {
  color: #253858;
  font-size: 18px; }
.restinfo .time-box .times .hour {
  display: flex;
  justify-content: space-between; }
  .restinfo .time-box .times .hour b {
    color: #253858; }
  .restinfo .time-box .times .hour span {
    color: #efb331; }
.restinfo .feature-box .title {
  color: #253858;
  font-size: 18px; }
.restinfo .cuisine-box .title {
  color: #253858;
  font-size: 18px; }
.restinfo .cuisine-box span {
  color: #50b83c; }
.restinfo .address-box .title {
  color: #253858;
  font-size: 18px; }

.modall {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .modall .modal-main {
    position: fixed;
    background: white;
    width: 50%;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: scroll;
    top: 40%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%); }
    @media (max-width: 468px) {
      .modall .modal-main {
        width: 90%; } }
    @media (min-width: 469px) and (max-width: 920px) {
      .modall .modal-main {
        width: 90%; } }

.display-block {
  display: flex;
  flex: 1; }

.display-none {
  display: none; }

@media (max-width: 468px) {
  .not-found {
    padding: 10px; } }
.not-found .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px; }
  .not-found .img-box img {
    margin: 0 auto; }
.not-found .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .not-found .text-box h4 {
    color: #efb331;
    font-size: 32px; }
    @media (max-width: 468px) {
      .not-found .text-box h4 {
        font-size: 26px; } }
  .not-found .text-box h5 {
    color: #253858;
    font-size: 24px;
    font-weight: bold;
    text-align: center; }
    @media (max-width: 468px) {
      .not-found .text-box h5 {
        font-size: 18px; } }
  .not-found .text-box .btn {
    color: whitesmoke; }

/*# sourceMappingURL=styles.css.map */
