@import 'variables';

.login-btn,
.signup-btn {
  margin-right: 5px;
  @media #{$mobile} {
    margin-bottom: 8px;
  }
}

.dashnav {
  background: $light-yellow !important;

  .dash {
    display: flex;
    align-items: center !important;
    li {
      padding: 10px;
    }
  }
}

span {
  font-family: 'Nunito', sans-serif !important;
}

.header-jumb {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 0 !important;
  background-image: url('../../assets/header-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  h2 {
    color: white;
    font-size: 74px;
    font-weight: 700;
    span {
      color: $primary-yellow;
    }

    @media #{$mobile} {
      font-size: 40px;
    }
  }
  h4 {
    color: whitesmoke;
    font-size: 32px;
    font-weight: lighter !important;
    @media #{$mobile} {
      font-size: 26px;
    }
  }

  h6 {
    color: white;
    font-size: 28px;
    font-weight: lighter !important;

    @media #{$mobile} {
      font-size: 20px;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  flex: 1;

  .landing-form {
    width: 600px;
    padding: 20px 0 20px 20px;

    input {
      outline: none;
      padding: 15px;
      border: none;
      border-radius: 4px;
      font-size: 19px;
      font-weight: 500;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }
    }
    .search-btn {
      padding: 15px 35px;
      border-radius: 4px;
      background: $primary-yellow;
      color: whitesmoke;
      font-size: 18px;
      border: none;
      outline: none;

      &:hover {
        filter: hue-rotate(1turn);
      }
    }
  }
}

.restaurants {
  margin-top: -25px;
  padding: 40px 0 40px 0;

  .title {
    color: $text-color;
    font-size: 36px;
  }

  .cards {
    .card {
      border: none;
      border-radius: 4px;
      box-shadow: $shadow;

      &:hover {
        box-shadow: $hover-shadow;
      }

      .card-img-top {
        padding: 20px;
        border-radius: 2px 2px 0 0;
        background-blend-mode: multiply;
      }

      .card-body {
        .badge {
          color: $primary-green;
        }
        .rating-box {
          background-color: $light-green;
          padding: 5px 15px;
          color: $primary-green;
          // font-weight: bold;
        }
        .card-title {
          a {
            font-family: 'Nunito', sans-serif;
            color: $text-color;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
          }
        }
        .card-text {
          margin-top: -15px;
          color: #7f8a96;
        }

        button {
          &:hover {
            box-shadow: $hover-shadow;
          }
          border-radius: 100px;
          &:nth-of-type(1) {
            background: $light-yellow;
            border: none;
            color: $primary-yellow;
          }

          &:nth-of-type(2) {
            background: $light-green;
            border: none;
            color: $primary-green;
          }
        }
      }
    }
  }
}

.categories {
  margin-top: -25px;
  padding: 40px 0 40px 0;

  .title {
    font-size: 36px;
    color: $text-color;
  }

  .card {
    justify-items: center;
    border-radius: 16px;
    border: 1px solid $light-green;
    transition: border 0.5s ease-in;
    -webkit-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in;

    &:hover {
      box-shadow: $hover-shadow;
      border: 1px solid rgba($primary-green, 0.7);
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 60px;
      }

      h4 {
        padding-top: 20px;
        a {
          text-decoration: none;
          color: $text-color;
        }
      }
    }
  }
}

.options {
  padding: 40px 0 40px 0;

  .tag {
    background-color: $light-green;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    text-align: center;
    &:hover {
      box-shadow: $hover-shadow;
    }

    span a {
      //            font-weight: bolder;
      font-size: 18px;
      color: $primary-green;
      text-decoration: none;
    }
  }
}

.steps {
  margin-top: -30px;
  background-color: $light-green;
  padding: 40px 0 40px 0;

  .card {
    border: none;
    border-radius: 4px;
    @media #{$mobile} {
      margin-bottom: 30px;
    }
    .card-body {
      .img-cont {
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 100px;
        width: 80px;
        height: 80px;
        margin-top: -50px;
        background: $light-yellow;
        box-shadow: $hover-shadow;
        img {
          width: 40px;
        }
      }

      .title {
        font-size: 21px;
        color: $text-color;
      }
    }
  }
}

.partners {
  padding: 40px 0 40px 0;
  background-color: $light-yellow;

  a {
    color: $text-color;
    text-decoration: underline;
  } //    background-image: url(../images/barbecue-barbeque-bbq-1268551.jpg);
  //    background-size: cover;
  //    background-blend-mode: multiply;
}

.errorbox {
  background-color: $light-red;
  color: $primary-red;
  transition: transform 0.3s ease-out;
  transform-origin: top;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -moz-transform: scaleY(1);
}

.auth-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../assets/cooking-dinner-food-76093.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  padding-top: 8%;

  .form-box {
    .illustration-box {
      background-color: $primary-yellow;
      padding: 15px;
      margin: 0 auto;
      border-radius: 6px 0 0 6px;
      height: 400px;
      box-shadow: $shadow;
    }

    .form-cont {
      background-color: white;
      border-radius: 6px;
      height: auto;
      box-shadow: $shadow;

      span {
        padding: 5px;
        cursor: pointer;
        &:hover {
          color: rgba($primary-yellow, 0.8);
        }
      }

      .submit-btn {
        background-color: rgba($primary-yellow, 0.8);
        color: whitesmoke;
        outline: none !important;

        &:hover {
          background-color: $primary-yellow;
          outline: none !important;
          box-shadow: none;
        }
      }

      .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        color: $text-color;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        border: none;
        background: #f5f8f9;
        outline: none;
        transition: border 0.5s ease-in;
        -webkit-transition: border 0.5s ease-in;
        -o-transition: border 0.5s ease-in;
        -moz-transition: border 0.5s ease-in;
      }
      .form-signin .form-control:focus {
        border: 1px solid $light-yellow;
        outline: none !important;
        box-shadow: none;
        transition: border 0.5s ease-in;
        -webkit-transition: border 0.5s ease-in;
        -o-transition: border 0.5s ease-in;
        -moz-transition: border 0.5s ease-in;
      }
    }
  }
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.welcome-wrapper {
  height: 100vh;
  .welcome-info {
    padding-top: 25%;
    margin: 0 auto;
    text-align: center;
    color: $text-color;

    img {
      opacity: 0.8;
      width: 350px;
    }
    h3 {
      font-weight: bolder;
      letter-spacing: 1.5px;
      font-size: 28px;
      color: $primary-yellow;

      @media #{$mobile} {
        font-size: 24px;
      }
    }
    h5 {
      font-weight: bold;
      letter-spacing: 1.2px;
    }
    .btn {
      color: whitesmoke;
    }
  }
}

#footer {
  background-color: #343a40 !important;
  border-top: 5px solid $primary-yellow;
  background-image: url('../../assets/barbecue-barbeque-bbq-1268551.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid rgba($primary-yellow, 0.8);
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: whitesmoke;

  @media #{$mobile} {
    font-size: 24px;
    color: rgba($primary-yellow, 0.8);
  }
}

#footer a {
  color: $primary-yellow;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: whitesmoke;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 10px;
    // border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/****************DAHSBOARD STYLES***************/

.dashboard {
  .edit-profile {
    box-shadow: $shadow;
    padding: 20px;
    border-radius: 4px;
    margin-top: 60px;
  }
  .dash-header {
    height: 350px;
    background-color: ghostwhite;
    @media #{$mobile} {
      height: auto;
      padding-bottom: 30px;
    }
    .img-box {
      display: flex;
      justify-content: center;
      align-content: center;
      padding-bottom: 0;
      padding-top: 30px;
    }

    .header-text {
      padding-top: 30px;
      color: $primary-green;
      font-size: 24px;
      span {
        color: $primary-yellow;
        font-size: 32px;
      }
    }

    .profile-actions {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      .btn-settings {
        background-color: $light-red;
        color: $primary-red;
        border: none;
        outline: none;
        box-shadow: none;
      }

      .btn-home {
        background-color: $primary-yellow;
        color: $light-yellow;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .dashcontent {
    padding: 40px 0 40px 0;

    .no-profile {
      // align-items: center;

      .welcome-text {
        font-size: 22px;
        span {
          font-weight: bold;
        }
      }

      .noprofile-info {
        font-size: 18px;
        color: $text-color;
      }
      .btn {
        color: $light-yellow;
      }
      .btn-info {
        background-color: $primary-green !important;
        border: none;
        outline: none;
        box-shadow: none;

        &:hover {
          border: none;
          outline: none !important;
          box-shadow: none;
        }
      }
    }
  }
}

.form-box {
  padding: 10px;
  margin-top: 20px;
  .form-header {
    color: $text-color !important;
  }
  .profile-form {
    .submit-btn {
      background-color: rgba($primary-yellow, 0.8);
      color: whitesmoke;
      outline: none !important;

      &:hover {
        background-color: $primary-yellow;
        outline: none !important;
        box-shadow: none;
      }
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      border: none;
      background: #f5f8f9;
      outline: none !important;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }
    .form-control:focus {
      border: 1px solid $light-yellow;
      outline: none !important;
      box-shadow: none !important;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }
  }
}
/****************DAHSBOARD STYLES***************/
.address-book {
  .address-card {
    border: 1px solid rgba($primary-green, 0.4);
    padding: 20px;
    border-radius: 4px;

    h4 {
      font-size: 18px;
    }

    @media #{$mobile} {
      margin-bottom: 20px;
    }
  }
}

/****************ADDRESS STYLES***************/

.tabs {
  background-color: white;
  // border: 1px solid rgba($primary-green, 0.2s);
  margin-bottom: 10px;

  // box-shadow: $shadow;
  border-radius: 4px;
}
.tab-list {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 0;
  border-bottom: 1px solid $light-yellow;
}
.tab-list-item {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  color: $text-color;
  font-weight: 500;
  // letter-spacing: 1px;
  font-size: 16px;

  &:hover {
    color: $primary-yellow;
    border-bottom: 2px solid $primary-yellow;
    -webkit-transition: border-bottom 0.3s ease-in;
    -moz-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in;
  }
  // &:first-of-type {
  //   &:before {
  //     content: 'f004';
  //     width: 16px;
  //     height: 16px;
  //     margin-right: 6px;
  //   }
  // }
}
.tab-list-active {
  border-bottom: 2px solid $primary-yellow;
  color: $primary-yellow;
}

.empty-tab-content-box {
  border: 1px solid rgba($primary-green, 0.3);
  border-radius: 4px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img-box {
    margin-bottom: 10px;
    img {
      opacity: 0.7;
      &:hover {
        filter: hue-rotate(1turn);
      }
    }
  }

  h4 {
    font-weight: 700 !important;
    color: $primary-green;
  }
  h5 {
    font-size: 18px;
    b {
      color: $primary-yellow;
    }
  }
}

.tab-content-box {
  border: 1px solid rgba($primary-green, 0.5);
  border-radius: 4px;
  padding: 40px;
}

/*************** RESTAURANT PAGE ****************/

.restaurant-header {
  margin-top: 0;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-image: url('../../assets/pattern.webp');
  @media #{$mobile} {
    height: auto;
  }
}
.tab-box {
  margin-bottom: 40px;
  .content-box {
    box-shadow: $shadow;
    margin-top: -40px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;

    .overview-box {
      h1 {
        font-weight: 700;
        color: $text-color;
      }
      .meta-box {
        font-size: 14px;
      }
    }
    .cat-box {
      .p-title {
        color: $text-color;
        font-size: 18px;
      }
      .pills {
        border-radius: 100px;
        padding: 5px 20px;
        background-color: $light-yellow;
        color: $primary-yellow;

        &:hover {
          box-shadow: $shadow;
        }
      }
    }
    .info-box {
      .item-box {
        display: flex;
        margin-bottom: 10px;
        .icon {
          margin-right: 10px;
          color: rgba($primary-yellow, 0.7);
        }
        .text {
          display: flex;
          flex-direction: column;
          font-size: 14px;

          span {
            :first-of-type {
              color: $text-color;
            }
            :nth-last-of-type(2) {
              color: $text-color;
            }
          }
        }
      }
    }

    .rating-box {
      .rating-header {
        color: $text-color;

        .title {
          font-weight: bold;
        }

        .rating {
          background-color: $primary-yellow;
          padding: 3px 20px;
          font-size: 20px;
          color: white;
          margin-left: 10px;
          border-radius: 3px;
        }

        .rev {
          display: flex;
          justify-content: space-between;

          .review {
            background-color: $primary-green;
            padding: 3px 20px;
            font-size: 20px;
            color: white;
            margin-left: 10px;
            border-radius: 3px;
          }
        }

        .reviews {
          margin-top: 40px;
          .box {
            display: flex;
            justify-content: center;
            // align-items: center;
          }
          .avatar {
            margin-right: 20px;
            span {
              padding: 15px;
              background: $primary-red;
              color: white;
              border-radius: 100px;
            }
          }
        }
      }
    }

    .menu-box {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $light-green;
      .menu-img {
        margin-right: 10px;
        img {
          border-radius: 4px;
        }
      }
      .menu-info {
        h5 {
          color: $text-color;
          margin-bottom: -5px;
        }
        p {
          color: $text-color;
          font-size: 14px;
        }
      }
      .ot-box {
        h5 {
          color: rgba($primary-red, 0.8);
          font-size: 20px;
        }
      }
    }
  }
  .cart-box {
    box-shadow: $shadow;
    margin-top: -40px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
  }
}
/*************** RESTAURANT PAGE ****************/

.modall {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .modal-main {
    position: fixed;
    background: white;
    width: 50%;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: scroll;
    top: 40%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    @media #{$mobile} {
      width: 90%;
    }
    @media #{$tablet} {
      width: 90%;
    }
  }
}

.display-block {
  display: flex;
  flex: 1;
}

.display-none {
  display: none;
}

.not-found {
  @media #{$mobile} {
    padding: 10px;
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    img {
      margin: 0 auto;
    }
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      color: $primary-yellow;
      font-size: 32px;
      @media #{$mobile} {
        font-size: 26px;
      }
    }
    h5 {
      color: $text-color;
      font-size: 24px;
      font-weight: bold;
      text-align: center;

      @media #{$mobile} {
        font-size: 18px;
      }
    }
    .btn {
      color: whitesmoke;
    }
  }
}

.results-box {
  margin-top: 5px;
  border-radius: 4px;
  background: white;
  height: 200px;
  overflow-y: scroll;
  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px;
      text-align: left;
      cursor: pointer;
      color: $text-color;
      font-weight: bold;
      &:hover {
        background-color: $light-green;
      }
    }
  }
}

.results {
  .header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: $light-yellow;
    padding: 30px;

    h5 {
      color: $text-color;
    }
    h6 {
      color: $primary-yellow;
      font-weight: bold;
    }

    .option {
      display: flex;

      select {
        margin-right: 10px;
        width: 150px !important;
        border-radius: 0 !important;
        border: none;
        box-shadow: none;
        outline: none;

        &:focus {
          border: none;
          box-shadow: none;
          outline: none;
        }
      }
    }

    input {
      border: none;
      outline: none;
      box-shadow: none;

      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }

    @media #{$mobile} {
      div {
        width: 100%;
        margin-bottom: 10px;
      }
      padding: 20px;
      h4 {
        font-size: 16px;
      }
      flex-direction: column;
      align-items: flex-start;
    }

    @media #{$tablet} {
      div {
        width: 100%;
        margin-bottom: 10px;
      }
      padding: 20px;
      h4 {
        font-size: 18px;
      }
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
