@import 'variables';

.dashnav {
  background: $light-yellow !important;

  .dash {
    display: flex;
    align-items: center !important;
    li {
      padding: 10px;
    }
  }
}

span {
  font-family: 'Nunito', sans-serif !important;
}

.header-jumb {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 0 !important;
  background-image: url(../../assets/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  h2 {
    color: white;
    font-size: 74px;
    font-weight: 700;
    span {
      color: $primary-yellow;
    }

    @media #{$mobile} {
      font-size: 44px;
    }
  }
  h4 {
    color: whitesmoke;
    font-size: 32px;
    font-weight: lighter !important;
    @media #{$mobile} {
      font-size: 26px;
    }
  }

  h6 {
    color: white;
    font-size: 28px;
    font-weight: lighter !important;

    @media #{$mobile} {
      font-size: 20px;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  flex: 1;

  .landing-form {
    width: 600px;
    padding: 20px 0 20px 20px;

    input {
      outline: none;
      padding: 20px;
      border: none;
      border-radius: 4px;
      font-size: 19px;
      font-weight: 500;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }
    }
    .search-btn {
      padding: 20px 35px;
      border-radius: 4px;
      background: $primary-yellow;
      color: whitesmoke;
      font-size: 18px;
      border: none;
      outline: none;

      &:hover {
        filter: hue-rotate(1turn);
      }
    }
  }
}

.restaurants {
  margin-top: -25px;
  padding: 40px 0 40px 0;

  .title {
    color: $text-color;
    font-size: 36px;
  }

  .cards {
    .card {
      border: none;
      border-radius: 4px;
      box-shadow: $shadow;

      &:hover {
        box-shadow: $hover-shadow;
      }

      .card-img-top {
        padding: 20px;
        border-radius: 2px 2px 0 0;
        background-blend-mode: multiply;
      }

      .card-body {
        .badge {
          color: $primary-green;
        }
        .card-title {
          a {
            font-family: 'Nunito', sans-serif;
            color: $text-color;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
          }
        }
        .card-text {
          margin-top: -15px;
          color: #7f8a96;
        }

        button {
          &:hover {
            box-shadow: $hover-shadow;
          }
          border-radius: 100px;
          &:nth-of-type(1) {
            background: $light-yellow;
            border: none;
            color: $primary-yellow;
          }

          &:nth-of-type(2) {
            background: $light-green;
            border: none;
            color: $primary-green;
          }
        }
      }
    }
  }
}

.categories {
  margin-top: -25px;
  padding: 40px 0 40px 0;

  .title {
    font-size: 36px;
    color: $text-color;
  }

  .card {
    justify-items: center;
    border-radius: 16px;
    border: 1px solid $light-green;
    transition: border 0.5s ease-in;
    -webkit-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in;

    &:hover {
      box-shadow: $hover-shadow;
      border: 1px solid rgba($primary-green, 0.7);
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 60px;
      }

      h4 {
        padding-top: 20px;
        a {
          text-decoration: none;
          color: $text-color;
        }
      }
    }
  }
}

.options {
  padding: 40px 0 40px 0;

  .tag {
    background-color: $light-green;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    text-align: center;
    &:hover {
      box-shadow: $hover-shadow;
    }

    span a {
      //            font-weight: bolder;
      font-size: 18px;
      color: $primary-green;
      text-decoration: none;
    }
  }
}

.steps {
  background-color: $light-green;
  padding: 40px 0 40px 0;

  .card {
    border: none;
    border-radius: 16px;
    .card-body {
      .img-cont {
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 100px;
        width: 80px;
        height: 80px;
        background: $light-yellow;
        box-shadow: $hover-shadow;
        img {
          width: 40px;
        }
      }

      .title {
        font-size: 21px;
        color: $text-color;
      }
    }
  }
}

.partners {
  padding: 40px 0 40px 0;
  background-color: $light-yellow;

  a {
    color: $text-color;
    text-decoration: underline;
  } //    background-image: url(../images/barbecue-barbeque-bbq-1268551.jpg);
  //    background-size: cover;
  //    background-blend-mode: multiply;
}

.errorbox {
  background-color: $light-red;
  color: $primary-red;
  transition: transform 0.3s ease-out;
  transform-origin: top;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -moz-transform: scaleY(1);
}

.auth-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../assets/cooking-dinner-food-76093.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  padding-top: 8%;

  .form-box {
    .illustration-box {
      background-color: $primary-yellow;
      padding: 15px;
      margin: 0 auto;
      border-radius: 6px 0 0 6px;
      height: 400px;
      box-shadow: $shadow;
    }

    .form-cont {
      background-color: white;
      border-radius: 6px;
      height: auto;
      box-shadow: $shadow;

      span {
        padding: 5px;
        cursor: pointer;
        &:hover {
          color: rgba($primary-yellow, 0.8);
        }
      }

      .submit-btn {
        background-color: rgba($primary-yellow, 0.8);
        color: whitesmoke;
        outline: none !important;

        &:hover {
          background-color: $primary-yellow;
          outline: none !important;
          box-shadow: none;
        }
      }

      .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
        color: $text-color;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        border: none;
        background: #f5f8f9;
        outline: none;
        transition: border 0.5s ease-in;
        -webkit-transition: border 0.5s ease-in;
        -o-transition: border 0.5s ease-in;
        -moz-transition: border 0.5s ease-in;
      }
      .form-signin .form-control:focus {
        border: 1px solid $light-yellow;
        outline: none !important;
        box-shadow: none;
        transition: border 0.5s ease-in;
        -webkit-transition: border 0.5s ease-in;
        -o-transition: border 0.5s ease-in;
        -moz-transition: border 0.5s ease-in;
      }
    }
  }
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.welcome-wrapper {
  height: 100vh;
  background-image: url('../../assets/dinner-dish-egg-54455.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .welcome-info {
    padding-top: 25%;
    margin: 0 auto;
    text-align: center;
    color: rgba($primary-yellow, 0.8);

    img {
      width: 150px;
    }
    h3 {
      font-weight: bolder;
      letter-spacing: 1.5px;
      font-size: 28px;
    }
    h5 {
      letter-spacing: 1.2px;
    }
  }
}

#footer {
  background-color: #343a40 !important;
  border-top: 5px solid $primary-yellow;
  background-image: url('../../assets/barbecue-barbeque-bbq-1268551.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid rgba($primary-yellow, 0.8);
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: whitesmoke;

  @media #{$mobile} {
    font-size: 24px;
    color: rgba($primary-yellow, 0.8);
  }
}

#footer a {
  color: $primary-yellow;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: whitesmoke;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 10px;
    // border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/****************DAHSBOARD STYLES***************/

.dashboard {
  .edit-profile {
    box-shadow: $shadow;
    padding: 20px;
    border-radius: 4px;
    margin-top: 60px;

    .address-card {
      border: 1px solid rgba($primary-green, 0.4);
      padding: 20px;
      border-radius: 4px;

      h4 {
        font-size: 18px;
      }
    }
  }
  .dash-header {
    height: 250px;
    background-color: $light-green;

    .header-text {
      padding-top: 90px;
      font-weight: bolder;
    }

    .profile-actions {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      .btn-settings {
        background-color: $light-red;
        color: $primary-red;
        border: none;
        outline: none;
        box-shadow: none;
      }

      .btn-home {
        background-color: $primary-yellow;
        color: $light-yellow;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .dashcontent {
    padding: 40px 0 40px 0;

    .no-profile {
      // align-items: center;

      .welcome-text {
        font-size: 22px;
        span {
          font-weight: bold;
        }
      }

      .noprofile-info {
        font-size: 18px;
        color: $text-color;
      }
      .btn {
        color: $light-yellow;
      }
      .btn-info {
        background-color: $primary-green !important;
        border: none;
        outline: none;
        box-shadow: none;

        &:hover {
          border: none;
          outline: none !important;
          box-shadow: none;
        }
      }
    }
  }
}

.form-box {
  padding: 10px;
  margin-top: 20px;
  .form-header {
    color: $text-color !important;
  }
  .profile-form {
    .submit-btn {
      background-color: rgba($primary-yellow, 0.8);
      color: whitesmoke;
      outline: none !important;

      &:hover {
        background-color: $primary-yellow;
        outline: none !important;
        box-shadow: none;
      }
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      border: none;
      background: #f5f8f9;
      outline: none !important;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }
    .form-control:focus {
      border: 1px solid $light-yellow;
      outline: none !important;
      box-shadow: none !important;
      transition: border 0.5s ease-in;
      -webkit-transition: border 0.5s ease-in;
      -o-transition: border 0.5s ease-in;
      -moz-transition: border 0.5s ease-in;
    }
  }
}
/****************DAHSBOARD STYLES***************/

.tabs {
  background-color: white;
  border: 1px solid rgba($primary-green, 0.2s);
  margin-bottom: 10px;

  // box-shadow: $shadow;
  border-radius: 4px;
}
.tab-list {
  list-style-type: none;
  // padding: 10px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  // flex-wrap: wrap;
  overflow-x: scroll;
}
.tab-list-item {
  display: flex;
  padding: 10px 24px;
  cursor: pointer;
  color: $text-color;
  font-weight: 700;
  // letter-spacing: 1px;
  font-size: 16px;

  &:hover {
    border-bottom: 2px solid $primary-yellow;
    -webkit-transition: border-bottom 0.3s ease-in;
    -moz-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in;
  }
  // &:first-of-type {
  //   &:before {
  //     content: 'f004';
  //     width: 16px;
  //     height: 16px;
  //     margin-right: 6px;
  //   }
  // }
}
.tab-list-active {
  border-bottom: 2px solid $primary-yellow;
}

.empty-tab-content-box {
  border: 1px solid rgba($primary-green, 0.3);
  border-radius: 4px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img-box {
    margin-bottom: 10px;
    img {
      opacity: 0.7;
      &:hover {
        filter: hue-rotate(1turn);
      }
    }
  }

  h4 {
    font-weight: 700 !important;
    color: $primary-green;
  }
  h5 {
    font-size: 18px;
    b {
      color: $primary-yellow;
    }
  }
}

.tab-content-box {
  border: 1px solid rgba($primary-green, 0.5);
  border-radius: 4px;
  padding: 40px;
}

.restaurant-header {
  height: 350px;
  background-color: black;

  @media #{$mobile} {
    height: auto;

    .info-box {
      margin-top: 20px;
    }
  }

  .large-header {
    padding: 60px 0px 60px 0px;
    .img-box {
      img {
        width: 350px;
      }
    }
    .info-box {
      .rest-disp {
        padding: 10px;
        border: 1px solid $primary-yellow;
      }
    }
  }
}

.restinfo {
  .phone-box {
    .title {
      color: $text-color;
      font-size: 18px;
    }
    .number {
      color: $primary-green;
      font-size: 20px;
    }
  }
  .time-box {
    .title {
      color: $text-color;
      font-size: 18px;
    }
    .times {
      .hour {
        display: flex;
        justify-content: space-between;
        b {
          color: $text-color;
        }

        span {
          color: $primary-yellow;
        }
      }
    }
  }

  .feature-box {
    .title {
      color: $text-color;
      font-size: 18px;
    }
  }

  .cuisine-box {
    .title {
      color: $text-color;
      font-size: 18px;
    }

    span {
      color: $primary-green;
    }
  }

  .address-box {
    .title {
      color: $text-color;
      font-size: 18px;
    }
  }
}
